<toupl><%
function _renderTable1D(values,_func)
{ 
  var touplWorkVar="",i,j;
%>
<table>
  <tr class="name-top">
    <td class="corner">
      a
    </td>
    <% for(i=0;i<values.length;++i) { %>
    <td class="name-top">
      <%= values[i] %>
    </td>
    <% } %>
  </tr>
  <tr>
    <td class="name-left">
    </td>  
    <% for(i=0;i<values.length;++i) { %>
    <% var v = _func(values[i]); %>
    <td class="<%= typeof(v) %>">
      <% if(typeof(v) == "string") { v = "'" + v + "'" } %>
      <%= v %>
    </td>
    <% } %>
  </tr>
</table>
<%
  return touplWorkVar;
};  
%></toupl>