body
{
  font-family:Fixedsys;
  font-size:8pt;
}

.ret table
{
  border-collapse:collapse;
  padding:0px;
}
.ret table tr td.name-top
{
  border:none;
  border-left:1px black dashed;
  text-align:center;
  color:#000000;
}
.ret table tr td.name-left
{
  border:none;
  border-top:1px black dashed;
  text-align:right;
  color:#000000;
}
.ret table tr td.corner
{
  border:none;
  color:#000000;
}
.ret table tr td
{
  border-top:1px black dashed;
  border-left:1px black dashed;
  padding:3px;
  text-align:center;
  color:#808080;
}
.ret span.a
{
  position:relative;
  top:-4px;
  left:4px;
}
.ret span.b
{
  position:relative;
  top:4px;
  left:-4px;
}

.ops
{
  float:left;
}
.ret
{
  float:left;
  margin-left:10px;
}
.ops li a.active
{
  background:#808080;
  color:#FFFFFF;
}